<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <H1>Welcome</H1>
    <form action="/user/all" method="get">
        <button type="submit">Search all books</button>
    </form>
    <form action="/user/find" method="get">
        <h4>Search by ID</h4>
        <input type="text" name="qid">
        <button type="submit">Search all books</button>
    </form>
    <form action="/" method="get">
        <h4>LOG OUT</h4>
        <button type="submit">Click to logout</button>
    </form>
</body>
</html>